{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Bootstrap Material</title>
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap-material-design.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/ripples.css')}}">


{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{url_for('.static', filename='js/arrive.js')}}"></script>
<script src="{{url_for('.static', filename='js/material.js')}}"></script>
<script src="{{url_for('.static', filename='js/ripples.js')}}"></script>
<script>$.material.init();</script>
{{super()}}

{% endblock %}

{% block navbar %}
<div class="navbar navbar-defualt">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Fancy</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0)">Active</a></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="javascript:void(0)">Separated link</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}
<div class="container-fluid text-center">
<div class="row">
<div class="jumbotron col-xs-6" style="width: 400px;">
<img src="{{url_for('.static', filename='zdm.jpg')}}" width="250px" height="250px"  class="img-circle img-thumbnail center-block" >
  <div class="panel panel-success">
  <div class="panel-heading ">{{ info['title'] }}</div>
  <div class="panel-body ">
    {{ info['brief'] |safe }}
    <p>
      <a href="http://www.smzdm.com/p/6086694/" target="_blank" class="btn btn-success btn-lg">zdm链接</a>
      <a href="{{ info['buylink'] }} " target="_blank" class="btn btn-raised btn-success">直达链接</a>
    </p>
  </div>
</div>
</div>

<div class="jumbotron col-xs-6" style="width: 400px;">
<img src="{{url_for('.static', filename='sm.jpg')}}" width="250px" height="250px"  class="img-circle img-thumbnail center-block" >
  <div class="panel panel-warning">
  <div class="panel-heading ">LG 25UM58-P 25英寸 21:9 IPS显示器999元包邮（赠鼠标垫，下单立减，1199-200）</div>
  <div class="panel-body ">
    老公牌带鱼屏好价再来！京东目前售价1199元，参加满999减200活动后下单实付999元到手，再到入手好价。带鱼屏无论是日常办公或游戏炒股都有非常不错的体验，再也不用担心一块屏幕放不下多个窗口了！

<p>1199-200，想撸的快下手吧</p>

    <p>
      <a href="http://www.smzdm.com/p/6086677/" target="_blank" class="btn btn-warning btn-lg">zdm链接</a>
      <a href="http://item.jd.com/2299309.html" target="_blank" class="btn btn-raised btn-warning">直达链接</a>
    </p>
      <div class="btn-group">
              <a href="http://item.jd.com/2299309.html" class="btn btn-raised btn-warning">直达链接</a>
              <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.smzdm.com/p/6086677/" target="_blank" class="btn btn-warning btn-lg">zdm链接</a></li>
              </ul>
            </div>

  </div>
</div>
</div>

</div>
</div>
{% endblock %}

